# Environment files
.env
.env.local
.env.production
.env.development

# allow example env
!.env.example


# Node
node_modules/
npm-debug.log*

# Docker
pgdata/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db
